{% extends "_master.twig" %}
{% block title %}{{ essay.title }} - {{ parent() }}{% endblock %}

{% block bodyClass %}body--essay{% endblock %}

{% block bread %}/essays/{{ essay.title  }}{% endblock %}

{% block containerClass %}container--essay{% endblock %}

{% block header %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}

    <div class="container-wrapper container-wrapper--essay">

        <div class="essay-item">
            <div class="essay-item__header">
                <h1>
                    {{ essay.title }}
                </h1>
                <div class="date">
                    {{ essay.editedAt }}
                </div>
            </div>

            <div class="essay-item__container">
                <div class="typo">
                    {% autoescape false %}
                        {{ essay.content }}
                    {% endautoescape %}
                </div>

            </div>
        </div>
    </div>



{% endblock %}




